body{
    background-color: rgb(197, 255, 249);
}

#content{
    margin-left: 5px;
    margin-right: 205px;
}

#sideBar{
    position: fixed;
    height: 100%;
    min-height: 100%;
    width: 200px;
    top: 0px;
    right: 0px;
    background-color: rgb(141, 141, 141);
    border-radius: 0px;
}

.naglowek{
    display: flex;
}

.item{
    margin: 0;
    margin-bottom: 30px;
    padding: 15px;
    background-color: rgb(98, 255, 140);
    min-height: 20px;
    border-radius: 20px;
}

.rozwin{
    max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease;
}

.opis{
    float: left;
}

h1{
    top: 0px;
    margin-left: 10px;
    font-size: 40px;
    font-family: Roboto;
}

p{
    text-wrap: wrap;
    margin-right: 100px;
    margin-left: 100px;
    font-family: Verdana;
}

.link{
    background-color: rgb(98, 255, 140);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    font-family: Roboto;
}

img{
    float: left;
    padding: 10px;
}

.autorzy{
    background-color: rgb(75, 136, 216);
    position: absolute;
    width: 90%;
    height: 500px;
    bottom: -50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(4, 1fr); 
    overflow: hidden;
    border-spacing: 0px;
}

.autor,.udzial{
    margin: 0;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 0px;
    background-color: rgb(75, 136, 216);
    min-height: 20px;
    border: 2px dashed #333;
}

.autor{
    justify-content: right;
}



@media (max-width: 1200px) {
    #content{
        margin-left: 5px;
        margin-right: 5px;
    }

    #sideBar{
        position: sticky;
        height: 80px;
        width: 100%;
        top: 0px;
        background-color: rgb(141, 141, 141);
        border-radius: 0px;
    }

    h1{
        top: 0px;
        margin-left: 6px;
        font-size: 20px;
        font-family: Roboto;
    }

    p{
        text-wrap: wrap;
        margin-right: 30px;
        margin-left: 30px;
        font-family: Verdana;
    }

    .link{
        background-color: rgb(98, 255, 140);
        color: rgb(0, 0, 0);
        border-radius: 10px;
        padding: 20px;
        margin: 10px;
        font-family: Roboto;
    }
  }